<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0   https://maven.apache.org/xsd/settings-1.0.0.xsd">

	<servers>
		<server>
			<id>github</id>
			<username>${env.GITHUB_ACTOR}</username>
			<password>${env.GITHUB_TOKEN}</password>
		</server>
	</servers>

	<profiles>
		<profile>
			<id>Development</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<properties>
				<deploymentServer>www.rpgframework.de</deploymentServer>
				<deploymentPath>/var/www/html/plugins/development</deploymentPath>
			</properties>
      <repositories>
         <repository>
          <id>central</id>
          <url>https://repo1.maven.org/maven2</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
        <repository>
            <id>central-portal-snapshots</id>
            <url>https://central.sonatype.com/repository/maven-snapshots/</url>
            <releases>
                <enabled>false</enabled>
            </releases>
            <snapshots>
                <enabled>true</enabled>
            </snapshots>
        </repository>
      </repositories>
		</profile>
		<profile>
			<id>Staging</id>
			<activation>
				<activeByDefault>false</activeByDefault>
			</activation>
			<properties>
				<deploymentServer>www.rpgframework.de</deploymentServer>
				<deploymentPath>/var/www/html/plugins/staging</deploymentPath>
			</properties>
		</profile>
		<profile>
			<id>Production</id>
			<activation>
				<activeByDefault>false</activeByDefault>
			</activation>
			<properties>
				<deploymentServer>www.rpgframework.de</deploymentServer>
				<deploymentPath>/var/www/html/plugins/release</deploymentPath>
			</properties>
		</profile>
	</profiles>
</settings>